In [1]:
import pandas as pd

In [32]:
DATA_PATH = '../data/'
excel_file = pd.ExcelFile(DATA_PATH + 'crime_per_canton.xlsx')

canton_dfs = {}
sheet_names = excel_file.sheet_names
sheet_names.remove('Total')
for sheet in sheet_names:
    canton_dfs[sheet] = pd.read_excel(excel_file, sheet, skiprows=[0] + list(range(25, 32)))
    canton_dfs[sheet].rename(columns={'Unnamed: 0': 'Code', 'Unnamed: 1': 'Crime Type'}, inplace=True)

In [33]:
canton_dfs['VD'].head(2)

,Code,Crime Type,1984,1985,1986,1987,1988,1989,1990,1991,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Total ¹,Violence,183,154,177,188,189,200,186,166,...,676,766,845,773,886,1093,1094,1126,1114,959
1,Total ¹,Severe violence (exercise of violence),15,25,24,24,26,22,26,27,...,48,42,47,35,36,41,53,49,63,38

In [48]:
print("Total Crime per Canton")
for canton in canton_dfs:
    df = canton_dfs[canton]
    violence = df[2017][0]
    print('{0} => {1}'.format(canton, violence))

Total Crime per Canton
AG => 514
AI => 8
AR => 31
BE => 960
BL => 113
BS => 341
FR => 398
GE => 777
GL => 38
GR => 93
JU => 96
LU => 328
NE => 279
NW => 15
OW => 34
SG => 316
SH => 84
SO => 215
SZ => 67
TG => 159
TI => 294
UR => 9
VD => 959
VS => 359
ZG => 92
ZH => 1008